/* unvisited link */
a {
  color: blue;
}

a:link {
  color: #FF0000;
}

/* visited link */
a:visited {
  color: #00FF00;
}

/* mouse over link */
a:hover {
  color: #FF00FF;
  text-decoration: underline;
  cursor: pointer;

}

/* selected link */
a:active {
  color: #0000FF;
}

#mainButton {
  font-family: Arial, Helvetica, sans-serif;
}

#mainButton:hover {
  color: purple;
  text-decoration: underline;
  cursor: pointer;
  text-shadow: 10px 10px;
}

#mainButton:active {
  color: white;
}

.btn {
  background-color: #2176FF;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #2176FF;
  transition: color .1s ease-in, background-color .1s ease-in;
}

.btn:active {
  font-size: 18px;
  transition: margin-right 2s;
}

.activity {
  border: 1px solid #2176FF;
  cursor: pointer;
  text-decoration: none;
}