p {
    font-size: 16px;
}

body {
    font-family: 'Nunito Sans', 'Nunito Sans ExtraLight', sans-serif;
    margin: 0 10%;
}

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
    font-family: 'Nunito Sans';
}

.cool-blue {
    background-color: #2d5dcc;
    color: white;
}

.Pink {
    background-color: #d957d9;
}

.Mint-Green {
    background-color: #4fe0b0;
}

.Beige {
    background-color: #efd9ca;
}

.font-container {
    width: 100%;
}

.font-panel {
    display: inline-block;
    width: 45%;
    margin: 20px auto;
    min-height: 100px;
}

.fontSource {
    font-family: 'Source Code Pro', monospace;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

h2 {
    font-family: 'Nunito Sans';
}

.fontNunito {
    font-family: 'Nunito Sans';
}

.fontPoppins {
    font-family: 'Poppins';
}

h1 {
    font-weight: 700;
}

.style-panel {
    display: inline-block;
    width: 75%;
    margin: 1px 10px;
    min-height: 100px;
}